@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.titleBox {
  display: block;
  height: 50vh;
  width: 50vw;
  padding-top: 60px;
}
.projects {
  padding-top: 9rem;
  align-items: stretch;
}

.box {
  margin: auto;
  width: 80%;
}
.projectCard {
  height: 100%;
}

@media only screen and (max-width: 570px) {
  .title {
    font-family: "Rokkitt", serif;
    font-size: 50px;
    color: white;
    margin-left: 20%;
    padding-top: 50px;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .aboutPicture {
    position: relative;
    display: inline-block;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem;
    opacity: 0.85;
    height: 17rem;
    margin: 0 auto 0 auto;
  }

  .aboutText {
    color: black;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 571px) {
  .title {
    font-family: "Rokkitt", serif;
    font-size: 110px;
    color: white;
    margin-left: 15%;
    padding-top: 50px;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .aboutPicture {
    position: relative;
    display: inline-block;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem;
    opacity: 0.85;
    margin: 0 auto 0 auto;
  }

  .aboutText {
    color: black;
    line-height: 1.625;
  }
}

@media only screen and (min-width: 850px) {
  .aboutPicture {
    position: relative;
    display: inline-block;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem;
    opacity: 0.85;
  }

  .aboutText {
    color: black;
    line-height: 1.625;
  }
}
