@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;400&display=swap");

.background {
  height: 100vh;
  width: 100vw;
  background-color: rgb(238, 238, 238);

  position: absolute;
}

.title {
  padding-top: 100px;
  font-size: calc(2em + 2vw);
  line-height: 1.75rem;
  color: rgb(58, 58, 58);
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  background-image: url(../img/img_13.jpg);
  height: 100vh;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
}
