@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap");

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.logo {
  background-image: url(../img/img_13.jpg);
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  width: 100vw;
}

.titleBox {
  display: block;
  height: 50vh;
  width: 50vw;
  padding-top: 60px;
}

.title {
  font-family: "Rokkitt", serif;
  font-size: 100px;
  color: white;
  margin-left: 15%;
  padding-top: 50px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
