.navColor {
    background-color: rgb(58, 58, 58);
}

.navLinkContainer {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%
}

.navLinkItem {
    font-family: 'Piazzolla', serif;
    color: rgb(236, 236, 245, var(--tw-text-opacity));
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    margin-right: 1rem;
    --tw-text-opacity: 1;
    font-size: 1.75rem;
    letter-spacing: 0.1em;
}


.navLinkItem:hover {
    color: rgb(25, 141, 135);  
}

.navLinkItemActive {
    color: rgb(25, 141, 135); 
}

.socialIcons {
    display: inline-flex;
    padding: 3;
    margin-top: 6;
    margin-bottom: 6;
}